.inline_class {
    display: inline-block;
    width: 420px;
}

.mydiv1 {
    margin-left: 107px;
}

.mydiv2 {
    margin-right: 107px;
}

.mybtnn {
    display: block;
}

.form_mid {
    margin-left: 274px;
}

.form_top{
    margin-top: 60px;
}